html, body { height: 100%; }
body { margin: 0; background-color: rgb(192,193,197); background-position: fixed;}

/* Global settings and classes */

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font: 700 34px/38px 'Crimson Pro';
}

h2{
    font: 700 30px/32px 'Crimson Pro' !important;
}

h3{
    font: 700 28px/30px 'Crimson Pro' !important;
}

h4{
    font: 500 26px/27px 'Crimson Pro' !important;
}

h5{
    font: 400 25px/26px 'Crimson Pro' !important;
}

h6{
    font: 400 24px/24px 'Crimson Pro' !important;
}

p{
    font-size: 23px;
}

.activated{
    color: white;
}

.error{
    border-bottom: 3px solid red;
}

.text-error{
    font-size: 20px;
    color: rgb(207, 18, 18);
    width: 200px;
    line-height: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}

.content{
    height: calc(100vh - 170px);
    width: 95%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#full-cointaier{
    padding-top: 120px 0;
}

.mat-form-field .mat-form-field-flex{
    color: black;
    font-size: 20px;
    background-color: rgba(255,255,255,.1) !important;
}

.d-flex{
    display: flex;
} 

.flex-align-center{
    align-items: center;
} 

.justify-content-center{
    justify-content: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}

.btn{
    position: relative;
    height: 60px;
    min-width: 150px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    cursor: pointer;
}

.btn::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    transition: 300ms background-color ease;
}

.btn-submit{
    background: #1e88e5;
}

.btn-submit:hover::before{
    background-color: rgba(255,255,255,.2);
}

input{
    padding: 5px 15px 1px 15px !important;
    border: none !important;
}

.mat-form-field-label{
    padding: 5px 15px 1px 15px;
}

#grid{
    width: 100%;
    padding-bottom: 50px;
}

#grid .mat-form-field{
    width: inherit;
}

#grid .mat-form-field .mat-form-field-wrapper{
    width: 70%;
    margin: 0 auto;
}

#grid #charac-table{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    margin: 0 auto;
}

#grid #charac-table .mat-header-cell {
    font-size: 17px;
    color: black;
}

#grid #charac-table table{
    width: 100%;
    border-radius: inherit;
    border: unset;
}

#grid #charac-table table thead{
    border-radius: inherit;
}

#grid #charac-table table thead tr{
    border-radius: inherit;
}

#grid #charac-table table thead tr th:last-child{
    border-top-right-radius: inherit;
}

#grid #charac-table table thead tr th:first-child{
    border-top-left-radius: inherit;
}

#grid #charac-table table tbody{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#grid #charac-table table tbody tr{
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

#grid #charac-table table tbody tr td:last-child{
    border-bottom-right-radius: inherit;
}

#grid #charac-table table tbody tr td:first-child{
    border-bottom-left-radius: inherit;
}

#grid #charac-table table thead tr th,
#grid #charac-table table tbody tr td{
    width: 25%;
    color: black;
    font-size: 18px;
}

#grid #charac-table table tbody tr td img{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#grid #charac-table table tbody tr td img{
    width: 250px;
}

/* Pagina de inicio */
header{
    position: fixed;
    width: 100%;
    height: 100px;
    background: rgb(173,38,45,.95);
    z-index: 9999;
}

header ul{
    width: 85%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0 auto;
}

header ul li{
    position: relative;
    width: calc(100% / 5);
    height: inherit;
    line-height: 100px;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    transition: 400ms background-color ease;
}

header ul li a{
    transition: 400ms colo ease;
    color: inherit;
}

header ul li span{
    cursor: pointer;
}


header ul li img{
    height: 100%;
}

header ul li:hover{
    background-color: rgb(45,45,47,.75);
    color: white;
}

header ul li#logo{
    background-color: unset;
    color: unset;
}

header ul li ul{
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 100%;
    width: auto;
    display: none;
    background: rgb(173,38,45,.75);;
}

header ul li ul li{
    position: relative;
    min-height: 80px;
    height: auto;
    width: auto;
    white-space: nowrap;
    padding: 0 10px;
    color: black;
}

#home{
    background-color: rgb(45,45,47,.75);
    height: 100vh;
    overflow: hidden;
}

#home .content h1,
#home .content h2{
    display: block;
    text-align: center;
    padding: 5px 0;
    color: rgb(233, 233, 233);
}

#home .content h1.main-title{
    font-size: 100px;
    line-height: 90px;
}

/* Characters Section */

#characters{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#characters::-webkit-scrollbar{
    display: none;
}

#characters .content{
    justify-content: flex-start;
}

#characters #selector{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Students Section */

#students{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#students::-webkit-scrollbar{
    display: none;
}

#students .content{
    justify-content: flex-start;
}

#students #input{
    width: 300px;
}

#students #input,
#students button{
    margin: 0 20px;
}

/* Teachers Section */

#teachers{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#teachers::-webkit-scrollbar{
    display: none;
}

#teachers .content{
    justify-content: flex-start;
}

/* Requests Section */

#requests{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#requests::-webkit-scrollbar{
    display: none;
}

#requests .content{
    justify-content: flex-start;
}