<header>
  <ul>
    <li><a routerLink="/inicio" routerLinkActive="activated">Inicio</a></li>
    <li class="multi-menu">
      <a routerLink="/estudiantes" routerLinkActive="activated">
        Estudiantes
      </a>
      <span class="material-icons" (click)="toggleSubMenu('#estudiantes')" data-toggle="estudiantes" data-rot = "1">keyboard_arrow_up</span>
      <ul id="estudiantes">
        <li><a routerLink="/estudiantes/solicitudes" (mouseout)="toggleSubMenu('#estudiantes')">Estudiantes solicitados</a></li>
      </ul>
    </li>
    <li id="logo"><img src="../assets/images/hogwarts_logo.png" routerLinkActive="activated"></li>
    <li><a routerLink="/personajes" routerLinkActive="activated">Personajes</a></li>
    <li><a routerLink="/profesores" routerLinkActive="activated">Profesores</a></li>
  </ul>
</header>

<router-outlet></router-outlet>
